<div class="wrapper">
  <table class="main">
    <tr class="display">
      <td>
        <div class="display__amount-wrapper">
          <div class="display__amount-block">
            <p class="display__amount-block-item">{{ calcReducer | async }}</p>
          </div>
          <button type="button" class="display__btn" (click)="getSymbol('reset')">AC</button>
        </div>
      </td>
    </tr>
    <tr class="buttons">
      <td>
        <button class="buttons__btn" type="button" (click)="getSymbol('1')">1</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('2')">2</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('3')">3</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('4')">4</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('5')">5</button>
      </td>
      <td>
        <button class="buttons__btn buttons__btn_symbol" type="button" (click)="getSymbol('+')">+</button>
      </td>
      <td>
        <button class="buttons__btn buttons__btn_symbol" type="button" (click)="getSymbol('-')">-</button>
      </td>
    </tr>
    <tr class="buttons">
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('6')">6</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('7')"  >7</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('8')">8</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('9')">9</button>
      </td>
      <td>
        <button class="buttons__btn" type="button"(click)="getSymbol('0')">0</button>
      </td>
      <td>
        <button class="buttons__btn buttons__btn_symbol-multiplication" type="button" (click)="getSymbol('*')">*</button>
      </td>
      <td>
        <button class="buttons__btn buttons__btn_symbol" type="button" (click)="getSymbol('/')">/</button>
      </td>
    </tr>
    <tr class="buttons">
      <td>
        <button class="buttons__btn" type="button" (click)="getSymbol('.')">.</button>
      </td>
      <td>
        <button class="buttons__btn amount" type="button" (click)="getSymbol('sum')">=</button>
      </td>
    </tr>
  </table>
</div>
