.wrapper
  margin: 0 auto
  width: 388px
  height: 243px
  background: #392208
  border-radius: 20px
  border: 3px solid rgba(255,143,16,0.82)

.main
  margin: 10px auto
  width: 235px

.display
  &__amount-wrapper
    display: flex
  &__amount-block
    background: #ccc
    overflow: hidden
    margin: 0 0 13px 6px
    width: 308px
    height: 40px
    border-radius: 5px
    text-align: end
    border: 3px solid rgba(255,143,16,0.82)

  &__amount-block-item
    font-size: 26px
    font-variant-numeric: slashed-zero
    font-style: italic
    margin: 0
    padding: 5px 5px

  &__btn
    font-style: italic
    font-weight: bold
    height: 45px
    padding:  0 10px
    margin-left: 6px
    border-radius: 20%
    text-transform: capitalize
    background: red

.buttons
  display: flex
  margin-left: 4px

  &__btn
    font-weight: bold
    font-style: italic
    background: #e0e0e0
    overflow: hidden
    width: 50px
    height: 50px
    color: black
    border-radius: 3px
    position: relative
    border: none
    font-size: 28px
    text-align: center
    -webkit-transition-duration: 0.4s
    transition-duration: 0.4s
    text-decoration: none
    cursor: pointer

  &__btn:after
    content: ""
    background: black
    display: block
    position: absolute
    padding-top: 300%
    padding-left: 350%
    margin-left: -20px!important
    margin-top: -120%
    opacity: 0
    transition: all 0.6s

  &__btn:active:after
    padding: 0
    margin: 0
    opacity: 1
    transition: 0s

  &__btn_symbol
    background: #ff8c00

  &__btn_symbol-multiplication
    background: #ff8c00
    padding-top: 10px

.amount
   background: #ff8c00
   width: 310px

